*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}



nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    margin-left: 20px;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}


nav ul li a:hover::after{
    width: 100%;
}

@media (max-width: 767.98px) {
    
    body{
        background-image: url(images/bg1.jpeg);
        background-position: -240px;
        height: 100vh;
    }
    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: 0.5s;
    }
    nav ul li a:hover::after{
        width: 10%;
    }
 }
